<h1>All Images</h1>
<p>Return to <%= link_to 'Galleries Index', root_url %></p>
<div>
  <ul>
    <% @images.each do |image| %>
    <li>
      <%= link_to image_tag(image.url), [image.gallery, image] %> Go to this photos <%= link_to 'Gallery', image.gallery %>
    </li>
    <h3>Tags:</h3>
    <ul>
      <% image.tags.each do |tag| %>
      <li>
        <%= link_to tag.text, tag %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </ul>
</div>